@use "../../../sass/" as *;
@import "../../../sass/responsive";

.c32 {
  width: 100%;
  height: 100vh;

  h1 {
    font-size: 48px;
    font-weight: 600;
    color: black;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-align: center;

    span {
        &:nth-child(1) {
            -webkit-text-fill-color: yellow;
        }
        &:last-child {
            -webkit-text-fill-color: #6fb936;
        }
    }
  }
}
